body {
  /* background: url('bg.png'); */
  margin: 0;
  padding: 0;
}

/* navigation bar */
#navbar {
  display: flex;
  align-items: center;
}

/* logo img */
#logo {
  margin: 0 20px;
}

#logo img {
  margin: 5px 12px;
  width: 85px;
}

/* list styling */
#navbar {
  position: relative;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

#navbar::before {
  content: "";
  background-color: midnightblue;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
  margin: 0px 20px;
}

#navbar ul li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* home */
#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 600px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  background: url('bg.png') no-repeat center center/cover;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index: -1;
}

#home h1 {
  color: black;
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  margin: 10px 10px;
}

#home p {
  color: black;
  margin: 0px;
  text-align: center;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

/* services */
#services {
  margin: 34px;
  display: flex;
}

#services .box {
  border: 2px solid brown;
    padding: 15px 10px;
    margin: 10px 10px;
    background-color: oldlace;
    border-radius: 24px;
}

#services .box img {
  width: 200px;
  display: block;
  margin: auto;
}

#services .box p{
  font-family: 'Poppins', sans-serif;
}


/* clients section */
#clients-section{
  height: 300px;
}

#clients{
  display:flex;
  justify-content: center;
  align-items: center;
}

#clients img{
  height: 124px;
}

.client-item{
  padding: 34px;;
}


footer{
  margin: 35px 25px;
}
/* utility classes */
.h-primary {
  font-size: 2.8rem;
  padding: 12px;
  font-family: 'Poppins', sans-serif;
}

.h-secondary {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
}

.btn {
  padding: 6px 15px;
  border: 2px solid white;
  border-radius: 18px;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.2rem;
  cursor: pointer;
}

.center {
  text-align: center;
}
